node_modules/
*.db
*.db-journal
.env.local

classmanager_2025-09-19.sql
Class Management for Driving Safety - Use Cases.txt
Class Management for Driving Safety - Vision on scope.txt
classmanager_2025-09-20.txt
Classroom Maintenance Requirements.txt
Interview Date 09162025.txt
Problem overview.txt